.uk-section-secondary.uk-section.uk-section-medium
  footer
    .uk-container
      .uk-grid-large.uk-grid-margin-large.uk-grid.uk-flex.uk-text-center.uk-flex-center(uk-grid)
        div(class="uk-width-2-4@m uk-width-1-2@s")
          h3.uk-h6.uk-text-bold.uk-text-uppercase studynet group
          p.uk-text-muted Studynet Group Aparıcı hazırlıq kursu və təhsil məsləhət mərkəzi 2009-cu ildə yaradılıb və bu günə qədər 7000-dən çox tələbəni dünyanın ən öndə gedən prestijli universitet, kollec və məktəblərinə yerləşdirib.
.uk-section-primary.uk-section.uk-section-xsmall.uk-border-top.uk-text-center
  span.uk-text-small.uk-text-muted &copy; 2018 SNG, All Rights Reserved.