div(class="ea-header-transparent" uk-header)
  div(uk-sticky="animation: uk-animation-slide-top; show-on-up: true; media: 768; cls-active: uk-navbar-sticky; sel-target: .uk-navbar-container")
    .uk-navbar-container.uk-navbar-transparent.uk-light
      .uk-container.uk-container-expand
        nav.uk-navbar(uk-navbar)
          .uk-navbar-left
            = link_to root_path, class: 'uk-navbar-item uk-logo' do
              = image_tag('logo.png', style:"filter: brightness(0) invert(1);")
          .uk-navbar-right
            - if !current_page?('/success')
              button(class="uk-visible@s uk-button uk-button-default ea-button-round uk-icon" uk-toggle="target: #regform")
                span(uk-icon="icon: bell")
                ' 
                span Qeydiyyat
            - if current_page?('/success')
              = link_to 'ANA SƏHİFƏ', root_path, class: 'uk-button uk-button-default ea-button-round'

              
            