#regform(uk-modal class="uk-flex-top")
  .uk-modal-dialog.uk-margin-auto-vertical
    button(class="uk-modal-close-default" type="button" uk-close)
    .uk-modal-header
      h2.uk-modal-title.uk-text-center QEYDİYYAT FORMU
    .uk-modal-body
      .inner-form
        = form_tag attend_url, class: 'uk-form-stacked' do
          = hidden_field_tag 'fair_confirmation[source]', source
          .uk-margin
            = label_tag 'first_name', "Ad", class: 'uk-form-label'
            .uk-form-controls
            = text_field_tag 'fair_confirmation[first_name]', nil, class: 'uk-input', placeholder: "", data: { validation: "length", "validation-length": "3-20" }

          .uk-margin
            = label_tag 'last_name', "Soyad", class: 'uk-form-label'
            .uk-form-controls
              = text_field_tag 'fair_confirmation[last_name]', nil, class: 'uk-input', placeholder: "", data: { validation: "length", "validation-length": "3-20" }

          .uk-margin
            = label_tag 'phone', "Telefon", class: 'uk-form-label'
            .uk-form-controls
              = phone_field_tag 'fair_confirmation[phone]', nil, class: 'uk-input', placeholder: "", data: { validation: "required" }

          .uk-margin
            = label_tag 'email', "E-poçt", class: 'uk-form-label'
            .uk-form-controls
              = text_field_tag 'fair_confirmation[email]', nil, class: 'uk-input', placeholder: "", data: { validation: "email" }
          
          .uk-margin
            .uk-form-controls
              = submit_tag "Göndər", class: 'uk-button uk-button-default ea-button-round', data: { disable_with: "Please wait..." }
        