- title t('.title')
- description t('.description')
- og_image image_url('cover.jpg')

.uk-section-default.uk-light.uk-position-relative
  div(style="background-image: url(#{image_url('cover.jpg')})" class="uk-background-norepeat uk-background-cover uk-background-center-center uk-section uk-flex uk-flex-middle" uk-height-viewport="offset-top: true")
    .uk-position-cover(style="background-color: rgba(0, 0, 0, 0.4)")
    .uk-width-1-1
      .uk-container
        .uk-margin-remove-adjacent
        .uk-margin-medium
          div
            h2.uk-text-center.h6.uk-scrollspy-inview.uk-animation-fade(class="uk-hidden@s")
              span 12 Aprel 2018-ci il saat 12:00
            h1.uk-text-center.uk-heading-primary.uk-scrollspy-inview.uk-animation-slide-bottom-small(uk-scrollspy-class="uk-animation-slide-bottom-small") Xaricdə Təhsil Sərgisi
            h2.uk-text-center.uk-text-lead.uk-scrollspy-inview.uk-animation-fade.(uk-scrollspy-class class="uk-visible@s")
              span Sizləri 12 Aprel 2018-ci il saat 12:00-dan 18:00-a kimi keçiriləcək 
              br/
              span Xaricdə təhsil sərgisinə dəvət edirik.
            div.uk-margin-medium.uk-scrollspy-inview.uk-animation-slide-bottom-small.uk-text-center
              button(class="uk-hidden@s uk-button uk-button-secondary ea-button-round uk-icon"  uk-toggle="target: #regform")
                span(uk-icon="icon: bell")
                ' 
                span Qeydiyyatdan Keç

.uk-section.uk-section-default
  .uk-container.uk-text-center
    p.uk-text-lead.uk-text-bold Sərgi Hilton Baku Otelində keçiriləcəkdir.
    p.uk-text-lead İştirak etmək üçün qeydiyyat zəruridir.
    div.uk-margin-medium.uk-scrollspy-inview.uk-animation-slide-bottom-small.uk-text-center
      button(class="uk-button uk-button-secondary ea-button-round uk-icon"  uk-toggle="target: #regform")
        span(uk-icon="icon: bell")
        ' 
        span Qeydiyyatdan Keç

.uk-section.uk-section-muted.uk-section-large
  .uk-container
    p Xaricdə təhsil sərgisində Amerika,Böyük Britaniya, Avstraliya, Hollandiya, İspaniya, İtaliya, İsveçrə,Kanada və digər ölkələrdən olan universitetlər iştirak edəcəkdir.Universitetlərin rəsmi şəkildə təmsil olunacağı sərgidə siz universitet nümayəndələri ilə görüşüb universitetlər haqqında daha ətraflı məlumat əldə edə bilərsiniz.

.uk-section.uk-section-default.uk-section-large
  .uk-container
    p Dünyanın reytinqli və nüfuzlu keçmişə sahib olan universitetləri sərgidə iştirak edəcəkdir.Hər il inkişaf edən tədris proqramları ilə dünyanın sayılıb seçilən universitetləri tələbələrinə daha yaxşı təhsili çatdırmaq üçün daim çalışırlar.


.uk-section.uk-section-muted
  .uk-container
    div(uk-slider="center: true")
      .uk-position-relative.uk-visible-toggle
        ul(class="uk-slider-items uk-child-width-1-2@s uk-grid")
          - @countries.each do |c|
            li
              .uk-card.uk-card-default
                .uk-card-media-top
                  = image_tag(c.cover.medium)
                .uk-card-body
                  h3.uk-card-title= c.name
                .uk-card-footer
                  = link_to 'Ətraflı', country_url(c), class: 'uk-button uk-button-text'
        a(class="uk-position-center-left uk-position-small uk-background-default uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous")
        a(class="uk-position-center-right uk-position-small uk-background-default uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next")
      ul(class="uk-slider-nav uk-dotnav uk-flex-center uk-margin")

= render partial: 'shared/registration_form', locals: {source: 'Home Page'}
