- title t('pages.index.title')
- description t('pages.index.description')
- og_image image_url('cover.jpg')

.uk-section-default.uk-light.uk-position-relative
  div(style="background-image: url(#{image_url('cover.jpg')})" class="uk-background-norepeat uk-background-cover uk-background-center-center uk-section uk-flex uk-flex-middle" uk-height-viewport="offset-top: true")
    .uk-position-cover(style="background-color: rgba(0, 0, 0, 0.4)")
    .uk-width-1-1
      .uk-container
        .uk-margin-remove-adjacent
        .uk-margin-medium
          div
            h1.uk-text-center.uk-heading-primary.uk-scrollspy-inview.uk-animation-slide-bottom-small(uk-scrollspy-class="uk-animation-slide-bottom-small") Qeydiyyatınız tamamlandı!
            h2.uk-text-center.uk-text-lead.uk-scrollspy-inview.uk-animation-fade.(uk-scrollspy-class) Xaricdə Təhsil Sərgisi üçün qeydiyyatdan keçdiyiniz üçün təşəkkür edirik. 
            h2.uk-text-center.uk-text-lead.uk-scrollspy-inview.uk-animation-fade.(uk-scrollspy-class) Sizi tədbirdə görməyi səbirsizliklə gözləyirik.