- title @country.name
- description "Sizləri 12 Aprel 2018-ci il saat 12:00-dan 18:00-a kimi keçiriləcək Xaricdə təhsil sərgisinə dəvət edirik."
- og_image image_url(@country.cover)

.uk-section-default.uk-light.uk-position-relative
  div(style="background-image: url(#{image_url(@country.cover)})" class="uk-background-norepeat uk-background-cover uk-background-center-center uk-section uk-flex uk-flex-middle" uk-height-viewport="offset-top: true")
    .uk-position-cover(style="background-color: rgba(0, 0, 0, 0.4)")
    .uk-width-1-1
      .uk-container
        .uk-margin-remove-adjacent
        .uk-margin-medium
          div
            h2.uk-text-center.h6.uk-scrollspy-inview.uk-animation-fade(class="uk-hidden@s")
              span 12 Aprel 2018-ci il saat 12:00
            h1.uk-text-center.uk-heading-primary.uk-scrollspy-inview.uk-animation-slide-bottom-small(uk-scrollspy-class="uk-animation-slide-bottom-small")= @country.name
            h2.uk-text-center.uk-text-lead.uk-scrollspy-inview.uk-animation-fade.(uk-scrollspy-class class="uk-visible@s")
              span Sizləri 12 Aprel 2018-ci il saat 12:00-dan 18:00-a kimi keçiriləcək 
              br/
              span Xaricdə təhsil sərgisinə dəvət edirik.
            div.uk-margin-medium.uk-scrollspy-inview.uk-animation-slide-bottom-small.uk-text-center
              button(class="uk-hidden@s uk-button uk-button-secondary ea-button-round uk-icon"  uk-toggle="target: #regform")
                span(uk-icon="icon: bell")
                ' 
                span Qeydiyyatdan Keç
.uk-section.uk-section-default
  .uk-container
    div(class="uk-grid-small uk-child-width-1-2@s uk-child-width-1-4@m uk-flex-center uk-text-center" uk-grid)
      - @country.participants.order(name: :asc).each do |p|
        div
          div(class="uk-card uk-card-default uk-card-body") 
            div.school-logo(style="background-image: url(#{p.logo})")
= render partial: 'shared/registration_form', locals: {source: @country.name}