// Application Styles

// Overrides
$offcanvas-bar-background: #fff !default
$offcanvas-bar-color-mode: dark !default
$global-primary-background: #3F51B5 !default

@import "uikit/src/scss/variables-theme.scss"
@import "uikit/src/scss/mixins-theme.scss"
@import "uikit/src/scss/uikit-theme.scss"

// Custom
@font-face
  font-family: 'main'
  src: url(asset-path("main.eot"))
  src: url(asset-path("main.eot#?iefix")) format('embedded-opentype'), url(asset-path("main.woff2")) format('woff2'),url(asset-path("main.woff")) format('woff'),url(asset-path("main.ttf")) format('truetype')
  font-weight: 400
  font-style: normal

html
  font: 18px/1.6 'main', Arial, sans-serif
  font-weight: 300
  -webkit-text-size-adjust: 100%
  background: #fff
  color: #696969
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering: optimizeLegibility

body
  font: 18px/1.6 'main', Arial, sans-serif

h1, .uk-h1, h2, .uk-h2, h3, .uk-h3, h4, .uk-h4, h5, .uk-h5, h6, .uk-h6
  font: 'main', Arial, sans-serif

.ea-header-transparent
  position: absolute
  z-index: 980
  left: 0
  right: 0

.uk-logo
  img
    height: 45px

.ea-button-round
  border-radius: 500px

.se-pre-con
  position: fixed
  left: 0px
  top: 0px
  width: 100%
  height: 100%
  z-index: 9999
  background: asset-url("loader.gif") center no-repeat #fff

.school-logo
  height: 200px
  background-position: center center
  background-size: 80%
  background-repeat: no-repeat

.uk-navbar-container.uk-navbar-transparent.uk-light.uk-navbar-sticky
  background: #232322