body
  padding: 60px 20px
  background: #3F51B5

.wrapper
  max-width: 1300px
  margin: 0 auto
  border-radius: 25px
  overflow: hidden
  background: #fff
  box-shadow: 0 120px 200px rgba(0,0,0,0.30)

.navbar-absolute
  left: 0

.button.is-special
  border-radius: 100px
  padding: 25px

.footer
  background: #24292e

.scrolled nav.navbar.is-white.navbar-absolute
  position: fixed
  top: -40px
  background: #fff!important
  box-shadow: 0px -5px 20px 0px rgba(0, 0, 0, 0.3)

.dark
  display: none

.scrolled
  .light
    display: none
  .dark
    display: block

.no-js #loader
  display: none
.js #loader
  display: block
  position: absolute
  left: 100px
  top: 0

.is-round
  border-radius: 100px

.modal
  z-index: 1000

.modal-background
  background-color: rgb(63, 81, 181)

.inner-form
  background: #fff
  border-radius: 10px
  overflow: hidden
  .input
    box-shadow: none
    height: 50px
    border: 2px solid #ebebeb
    border-radius: 100px

  .field:not(:last-child)
    margin-bottom: 1.5rem

.c
  border-radius: 10px
  box-shadow: 0px 14px 20px 0px rgba(0, 0, 0, 0.15)
  background-position: center center
  background-size: cover
  border-bottom-left-radius: 10px
  border-top-left-radius: 10px

.tile.is-child.box
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.4)
  border-radius: 3px
  text-align: center
  padding: 100px 50px
  background: #005da8
  color: #fff
  font-size: 3rem
  cursor: pointer
  background-size: cover
  position: relative
  overflow: hidden
  p
    position: relative
  &:before
    content: ''
    background: rgba(0, 93, 168, 0.15)
    width: 100%
    height: 100%
    display: block
    position: absolute
    left: 0
    top: 0
    z-index: 0
    border-radius: 3px

@media screen and (min-width: 1408px)
  .container
    max-width: 1200px
    width: 1200px

@media screen and (max-width: 1024px)
  .navbar-absolute
    padding-left: 20px
    padding-right: 20px

@media screen and (max-width: 768px)
  body
    padding: 0
  .wrapper
    border-radius: 0