.subtitle
  display: inline-block
  font-weight: bolder
  border-bottom: 5px solid #E91E63
  color: #E91E63!important
  background: #ffffff
  padding: 10px 20px

.navbar-absolute
  position: absolute
  width: 100%
  background: transparent!important
  margin-top: 40px
  z-index: 1000
  transition: top ease-in 250ms
  .navbar-item img
    max-height: 2rem

.is-mute
  background: #f7f7f7

.notification.top-section
  position: fixed
  z-index: 2000
  background: #000000
  color: #fff
  right: 20px
  top: 20px

.button.is-special
  background-color: rgb(255, 255, 255)
  color: rgba(63, 81, 181, 1)
  font-weight: bolder
  height: 3rem
  border-radius: 5px
  font-size: .8rem

.flags
  position: fixed
  z-index: 1000
  right: 0
  top: 0
  height: 100vh
  background: #fafafa
  width: 300px
  transform: translateX(300px)
  overflow-y: scroll
  transition: transform ease-in-out 250ms
  &.shown
    transform: translateX(0px)
  .flag
    display: flex
    flex-direction: row
    align-items: center
    background: #ffffff
    margin-bottom: 2px
    a
      font-size: .8rem
  img
    cursor: pointer
    transition: width ease 250ms
    width: 30px
    display: block
    margin: 10px


.is-country
  min-height: 320px
  background-size: cover
  background-position: center center
  position: relative
  border-top: 1px solid #f1f1f1
  .title
    color: #fff
    display: inline-block
    padding: 20px
    font-size: 2rem
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    position: absolute
    text-transform: uppercase

.over-parent
  overflow: hidden
  position: relative

.over
  background: rgba(63, 81, 181, 0.4)
  position: absolute
  width: 100%
  height: 100%
  z-index: 0
  top: 0
  left: 0

.has-background
  background-position: top left
  background-size: cover

.schools-wrapper
  .school
    height: 300px
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    position: relative
    overflow: hidden
    font-size: 1rem
    font-weight: bolder
    color: #e91f64
    text-transform: uppercase
    border: 1px solid rgba(64, 81, 181, 0.15)
    border-radius: 4px
    flex-direction: column
    p
      border-top: 3px solid
      border-bottom: 3px solid
      padding: 4px
    .logo-container
      width: 100%
      height: 140px
      position: relative
      .school-logo
        background-size: contain
        width: 120px
        height: 120px
        position: relative
        background-repeat: no-repeat
        background-position: center
        margin: 0 auto
        transition: transform 250ms ease

button.delete.close-sidebar
    border-radius: 0
    background: #e91f64