doctype 5
html lang='az'
  head
    title= content_for?(:title) ? content_for(:title) : 'SNG Study Abroad Fair'
    meta[charset='utf-8']
    meta[content='width=device-width, initial-scale=1' name='viewport']
    meta[name='author' content='SABAH']
    meta[name='copyright' content='SNG. Copyright (c) 2018']
    meta[name="description" content="#{content_for?(:description) ? content_for(:description) : 'SNG - Study Abroad.'}"]
    meta[property="og:image" content="#{content_for?(:og_image) ? content_for(:og_image) : image_url('')}"]
    = csrf_meta_tags
    = stylesheet_link_tag    'application'
  body
    .se-pre-con
    .uk-offcanvas-content
      = render 'shared/header'
      = yield
      = javascript_include_tag 'application'