doctype 5
html lang='az'
  head
    title= content_for?(:title) ? content_for(:title) : 'SNG Study Abroad Fair'
    meta[charset='utf-8']
    meta[content='width=device-width, initial-scale=1' name='viewport']
    meta[name='author' content='SNG']
    meta[name='copyright' content='SNG. Copyright (c) 2018']
    meta[name="description" content="#{content_for?(:description) ? content_for(:description) : 'SNG - Study Abroad.'}"]
    meta[property="og:image" content="#{content_for?(:og_image) ? content_for(:og_image) : image_url('')}"]
    = csrf_meta_tags
    = stylesheet_link_tag    'application'
  body
    .se-pre-con
    .uk-offcanvas-content
      = render partial: "shared/notification", flash: flash if !flash.empty?
      = render 'shared/header'
      = yield
      = render 'shared/footer'
      = javascript_include_tag 'application'
      script(src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5abc854a7f5f29ad" type="text/javascript")
      script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js")
      javascript:
        $.validate({
          lang: 'en',
          scrollToTopOnError: false
        });